In [7]:
import numpy as np
import pandas as pd

In [8]:
# https://stooq.com/

import pandas_datareader.data as web
from datetime import datetime

all_data = {t:web.get_data_stooq(t) 
            for t in ['^DJI']}
#df = web.DataReader('GOOG', 'stooq')

all_data

{'^DJI':                 Open      High       Low     Close     Volume
 Date
 2021-09-21  34025.61  34313.88  33914.02  33919.84  349921122
 2021-09-20  34459.72  34459.72  33613.03  33970.47  506527994
 2021-09-17  34737.86  34779.86  34519.63  34584.88  671000759
 2021-09-16  34810.27  34943.55  34540.11  34751.32  320894591
 2021-09-15  34580.95  34880.77  34522.03  34814.39  374859256
 ...              ...       ...       ...       ...        ...
 2016-09-29  18322.88  18366.23  18091.64  18143.45   95876571
 2016-09-28  18240.22  18349.86  18179.34  18339.24   97656640
 2016-09-27  18099.21  18238.10  18052.16  18228.30   84133922
 2016-09-26  18217.76  18217.76  18083.32  18094.83   95512646
 2016-09-23  18377.36  18383.76  18254.84  18261.45   87173132

 [1257 rows x 5 columns]}

In [15]:
all_data

{'^DJI':                 Open      High       Low     Close     Volume
 Date
 2021-09-21  34025.61  34313.88  33914.02  33919.84  349921122
 2021-09-20  34459.72  34459.72  33613.03  33970.47  506527994
 2021-09-17  34737.86  34779.86  34519.63  34584.88  671000759
 2021-09-16  34810.27  34943.55  34540.11  34751.32  320894591
 2021-09-15  34580.95  34880.77  34522.03  34814.39  374859256
 ...              ...       ...       ...       ...        ...
 2016-09-29  18322.88  18366.23  18091.64  18143.45   95876571
 2016-09-28  18240.22  18349.86  18179.34  18339.24   97656640
 2016-09-27  18099.21  18238.10  18052.16  18228.30   84133922
 2016-09-26  18217.76  18217.76  18083.32  18094.83   95512646
 2016-09-23  18377.36  18383.76  18254.84  18261.45   87173132

 [1257 rows x 5 columns]}

In [11]:
price=pd.DataFrame({t:data['Close'] 
                    for t,data in all_data.items()})


price

                ^DJI
Date
2021-09-21  33919.84
2021-09-20  33970.47
2021-09-17  34584.88
2021-09-16  34751.32
2021-09-15  34814.39
...              ...
2016-09-29  18143.45
2016-09-28  18339.24
2016-09-27  18228.30
2016-09-26  18094.83
2016-09-23  18261.45

[1257 rows x 1 columns]